.corp_project{
  min-height: 100vh; 
  position: relative;
  }

  .ButtonPosition{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  .Button {
    background: #dc3545;
    border-style: none;
    padding: 10px;
    display: flex;
    border-radius: 19px;
    color: #efefee;
    font-size: larger;
  }

  .Button:hover{
    background: #dc3546b0;
  }