input, select {
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
    border: 1px solid #b7b7b7;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-bottom: 30px;
}

input:focus-visible{
    border: 1px solid #b7b7b7;
}